<h1>New Car</h1>
<ul>
    
        <p>Year</p>
        <input type=text size=5 maxlength=24 name="t1">
        <p>color</p>
        <input type=text size=6 maxlength=hungvuongvan name='t2'>
        <p>description</p>
        <input type=text size='7' maxlength='hungvuongvan' name='t3'>
        <p>model</p>
        <input type=text size='5' maxlength='12'>
        <p>price</p>
        <input type=text size='5' maxlength='hungvuongvan'>
        <p></p>
        <input type=submit>
</ul>